<section class="player-info">
  <p>Name: <%= @player.name %></p>
  <p>Team: <%= @player.nfl_team.team %></p>
  <p>Position: <%= @player.nfl_position.position %></p>
  <p>Season points: <%= @player.season_pts %></p>
  <p>Season projected points: <%= @player.season_projected_pts %></p>
  <p>Weekly points: <%= @player.week_pts %></p>
  <p>Weekly projected points: <%= @player.week_projected_pts %></p>
</section>
